/* barra de evolução */
.experienceBar {
    display: flex;
    align-items: center;
}

.experienceBar{
    font-size: 1rem;
}

/* o sinal > div pega só o componente da div */
.experienceBar > div{
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div {
    height: 4px;
    border-radius: 4px;
    background: var(--green)
}

span.currentExperience {
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
}