/* VH pega os 100% da altuta total */
.conteiner {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    
    display: flex;
    /* Column quando quero que os elementos abaixo da barra fique um embaixo do outro */
    flex-direction: column;  
}

.conteiner section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}